<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="!(loc.Product)"
             Manufacturer="!(loc.Manufacturer)"
             Version="1.0.0.0"
             Scope="perUser"
             UpgradeCode="aebb7914-3502-40db-9d67-e06b9ba8570b">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
        <Feature Id="Main">
            <ComponentGroupRef Id="AppComponentGroup" />
            <ComponentGroupRef Id="AppzhHansComponentGroup" />
            <ComponentGroupRef Id="AppsvComponentGroup" />
            <ComponentGroupRef Id="AppruComponentGroup" />
            <ComponentGroupRef Id="ApproComponentGroup" />
            <ComponentGroupRef Id="AppptBRComponentGroup" />
            <ComponentGroupRef Id="AppjaJPComponentGroup" />
            <ComponentGroupRef Id="AppitComponentGroup" />
            <ComponentGroupRef Id="ApphuComponentGroup" />
            <ComponentGroupRef Id="AppfrComponentGroup" />
            <ComponentGroupRef Id="AppesComponentGroup" />
            <ComponentGroupRef Id="AppdeComponentGroup" />
            <ComponentGroupRef Id="AppcsCZComponentGroup" />
        </Feature>
        <Media Id="1" CompressionLevel="high" EmbedCab="yes" Cabinet="media.cab" />
    </Package>
</Wix>