<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <StandardDirectory Id="DesktopFolder" />
        <StandardDirectory Id="ProgramMenuFolder" />
        <DirectoryRef Id="Folder_780FCF558FD15CAD73B88D">
            <Component Id="ShortcutsComponent" Bitness="always32">
                <RegistryValue Root="HKCU"
                               Key="Software\Spectralyzer\Spectralyzer"
                               Name="InstallationFolder"
                               Type="string"
                               Value="[ProductFolder]"
                               KeyPath="yes" />
                <Shortcut Id="DesktopShortcut"
                          Directory="DesktopFolder"
                          Name="Spectralyzer"
                          Target="[Folder_780FCF558FD15CAD73B88D]Spectralyzer.App.Host.exe"
                          WorkingDirectory="Folder_780FCF558FD15CAD73B88D" />
                <Shortcut Id="StartMenuShortcut"
                          Directory="ProgramMenuFolder"
                          Name="Spectralyzer"
                          Target="[Folder_780FCF558FD15CAD73B88D]Spectralyzer.App.Host.exe"
                          WorkingDirectory="Folder_780FCF558FD15CAD73B88D" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>